.header {
}

.header__advert {
  height: 4.8rem;
  background-color: var(--color-tertiary);
  text-align: center;
  padding: 1.6rem 0;
}

.header__advert-text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: var(--color-primary);
}

.menu-bar {
  padding: 1.6rem 6.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar__btn {
  background: var(--color-secondary);
  border: 1px solid var(--color-primary);
  border-radius: 3.2rem;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  color: var(--color-primary);
  padding: 1.6rem 3.8rem;
  cursor: pointer;
  transition: 0.3s all;
}
.menu-bar__btn:hover {
  background-color: white;
}

.menu-bar__logo {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  text-align: center;
  color: var(--color-primary);
  cursor: pointer;
  margin-left: 39.5rem;
}

.menu-bar__block-1 {
  display: flex;
}

.menu-bar__block-2 {
  display: flex;
  column-gap: 3.05rem;
}

.menu-bar__item {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  color: var(--color-primary);

  display: flex;
  align-items: center;

  cursor: pointer;
}

.menu-bar__item:last-child {
  column-gap: 1.8rem;
}
